#ntsga-overview-chart { width: 95%; border: 1px solid #CCC; }
#ntsga-overview-chart { text-align: center; vertical-align: middle; line-height: 60px; font-size: 1.2em; color: #999999; font-weight: bold; font-style: italic; }
#ntsga-loader {visibility: hidden;}